<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    <title>{{.title}}</title>
</head>

<body class="home">
    <a href="https://github.com/mikeqoo1"><img src="/static/img/mygit-removebg.jpg" class="rounded float-start"></a>
    <div class="realtimeuserscounter realtimeuserscounter--styled"></div>
    <script src="https://realtimeusers.bycontrast.co/realtimeusers.js"></script>
    <div class="container">
        <h1 class="text-center">{{.message}}</h1>
        <h1 class="text-center">{{.donate}}</h1>
        <h2 class="text-center"><a class="link-info" href="/nici">看看所有的Nici好朋友</a></h2>
        <h2 class="text-center"><a class="link-info" href="/nici/destiny">選出命中註定的小夥伴</a></h2>
        <h2 class="text-center"><a class="link-info" href="/nici/newfriend">增加小夥伴</a></h2>
        <h2 class="text-center"><a class="link-info" href="/nici/price">估價區</a></h2>
        <h2 class="text-center"><a class="link-info" href="/concords/societies">運動休閒社</a></h2>
        <h2 class="text-center"><a class="link-info" href="/other">亂七八糟區</a></h2>
        <h2 class="text-center"><a class="link-info" href="/alice">海豬快篩區</a></h2>
        <h2 class="text-center"><a class="link-info" href="/alice/boys">海豬の男人們</a></h2>
        <h2 class="text-center"><a class="link-info" href="http://34.80.185.163/swagger/index.html">腦銘API文件</a></h2>
        <div class="row">
            <img src="/static/img/dragon6.jpg" class="rounded float-start">
            <img src="/static/img/dragon2.jpg" class="rounded float-end">
        </div>
    </div>
</body>

</html>