<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    <title>{{.title}}</title>
</head>

<body class="page2" style="opacity: 0.5;">
    <div class="row">
        <a href="https://github.com/mikeqoo1"><img src="/static/img/mygit-removebg.jpg" class="rounded float-start"></a>
    </div>
    <div class="text-center">
        <h1><a class="link-info" href="/">回首頁</a></h1>
        <h2 class="fw-bold">總共{{.record}}筆</h3>
    </div>
    <table class="table" id="data">
        <script>
            var a = {{.data }}
            // console.log(a)
            // str = "<thead><tr><th scope=\"col\">ID</th><th scope=\"col\">名稱</th><th scope=\"col\">血型</th><th scope=\"col\">星座</th><th scope=\"col\">系列</th></tr></thead><tbody>";
            str = "<thead><tr><th scope=\"col\">名稱</th><th scope=\"col\">血型</th><th scope=\"col\">星座</th><th scope=\"col\">系列</th></tr></thead><tbody>";
            for (var i = 0; i < a.length; i++) {
                str += "<tr>";
                // str += "<th scope=\"row\">" + a[i].Id + "</th>"
                str += "<th scope=\"row\">" + a[i].Name + "</th>"
                str += "<th scope=\"row\">" + a[i].Blood + "</th>"
                str += "<th scope=\"row\">" + a[i].Starsign + "</th>"
                str += "<th scope=\"row\">" + a[i].Series + "</th>"
                str += "</tr>";
            }
            str += "</tbody>";
            document.getElementById("data").innerHTML = str;
        </script>
    </table>
</body>

</html>