<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    <title>{{.title}}</title>
</head>

<body class="page4">
    <div class="text-center">
        <a href="https://github.com/mikeqoo1"><img src="/static/img/mygit-removebg.jpg" class="rounded float-start"></a>
        <h1><a class="link-info" href="/">回首頁</a></h1>
        <h2 class="fw-bold">總共{{.record}}筆</h3>
    </div>
    <div class="text-center">
        <div class="datadiv"></div>
    </div>
    <script>
        var divv = document.querySelector('.datadiv');
        var a = {{.data }}
        var str = ""
        for (var i = 0; i < a.length; i++) {
            var img = "<img src=\"/static/img/" + a[i].Img + "\" width = \"400\" height = \"400\"/>"
            str += img
            str += "<li>名稱:" + a[i].Name + "</li>"
            str += "<li>血型:" + a[i].Blood + "</li>"
            str += "<li>星座:" + a[i].Starsign + "</li>"
            str += "<li>系列:" + a[i].Series + "</li>"
        }
        divv.innerHTML = str;
    </script>
</body>

</html>