<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    <title>雜七雜八區</title>
</head>

<body class="ig">
    <a href="https://github.com/mikeqoo1"><img src="/static/img/mygit-removebg.jpg" class="rounded float-start"></a>
    <div class="text-center">
        <h1><a class="btn btn-secondary btn-lg" role="button" href="/">回首頁</a></h1>
        <img src="/static/img/雜七雜八015.png" width="200" height="200">
        <h1><a class="btn btn-secondary btn-lg" role="button" href="/other/pig">海豬語翻譯區</a></h1>
        <img src="/static/img/雜七雜八010.png" width="200" height="200">
        <h1><a class="btn btn-secondary btn-lg" role="button" href="/other/love">感情問事區</a></h1>
        <img src="/static/img/雜七雜八004.png" width="200" height="200">
        <h1><a class="btn btn-secondary btn-lg" role="button" href="/concords">康x緊急區</a></h1>
        <img src="/static/img/雜七雜八009.png" width="200" height="200">
        <h1><a class="btn btn-secondary btn-lg" role="button" href="/concords/EM">康x緊急區2</a></h1>
    </div>
</body>

</html>