<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="bookmark" href="/static/favicon.ico" />
    <title>估價區</title>
</head>


<body class="ig">
    <form action="/nici/priceee" method="POST">
        <div class="row">
            <div class="col">
                <select class="form-select" id="typeee" name="typeee">
                    <option selected>種類</option>
                    <option value="鑰匙圈">鑰匙圈</option>
                    <option value="杯套">杯套</option>
                    <option value="玩偶">玩偶</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select" id="size" name="size">
                    <option selected>選擇大小</option>
                    <option value="29">30cm以下</option>
                    <option value="39">30cm~40cm</option>
                    <option value="49">40cm~50cm</option>
                    <option value="59">50cm~70cm</option>
                    <option value="79">70cm以上</option>
                    <option value="100">100cm</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">估價</button>
    </form>
    <p class="lead">
    <h1 class="text-primary">
        原價:{{.OGprice}}<br>
        誠品金卡打9折然後線上購物車再打95折<br>
        估價後價錢:{{.Newprice}}<br>
    </h1>
    </p>
    <div class="text-center">
        <h1><a href="/" class="link-info"><img src="/static/img/home.png"></a></h1>
        <a href="https://github.com/mikeqoo1"><img src="/static/img/mygit-removebg.jpg" class="rounded float-end"></a>
    </div>
</body>

</html>